.button {
    background-color: #b00;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.buttonText {
    color: #fff;
    font-weight: bold;
}

.passive {
    background-color: transparent;
    text-transform: uppercase;
}

.passive .buttonText {
    color: #f00;
}

.darktheme .button {
    background-color: #000;
}

.darktheme .passive .buttonText {
    color: #fff;
}

.darktheme .button.passive {
    background-color: transparent;
}