.classSelectorElement {
    font-size: 24px;
    width: 125px;
    height: 125px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.135);
    margin: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    cursor: pointer;
    background-color: #fff;
}

.classSelectorCheckbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.classSelectorLabel {
    margin-bottom: 10px;
}

.darktheme .classSelectorElement {
    background-color: #111;
}