.classSelector {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.classSelectorInner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 750px;
}

.classSelectorButtonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}