.loadingScreen {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
}

.loader {
    font-size: 92px;
}

.loadingText {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.darktheme .loadingScreen {
    background-color: #111;
    color: #fff;
}