.header {
    width: 100vw;
    min-height: 50px;
    background-color: #b00;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleText {
    color: #fff;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}

.titleMenu {
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.darktheme .header {
    background-color: #000;
}