.login {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 30px;
    align-items: center;
    background-color: #fff;
}

.loginTitle {
    font-size: 24px;
    color: #000;
}

.loginForm {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.loginForm input {
    margin: 10px;
    font-size: 18px;
}

.loginUsername,
.loginPassword {
    border-bottom: 2px solid red;
    color: #000;
}

.loginSubmit {
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #f00;
    cursor: pointer;
}

.loginMessage {
    color: #000;
    text-align: center;
}

.darktheme .login {
    background-color: #222;
}

.darktheme .loginTitle {
    color: #fff;
}

.darktheme .loginSubmit {
    background-color: #000;
}

.darktheme .loginUsername,
.darktheme .loginPassword {
    background-color: #222;
    color: #fff;
    border-bottom-color: #fff;
}

.darktheme .loginMessage {
    color: #fff;
}