.settingsView {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #fff;
    color: #000;
}

.settingDarkMode {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.darkModeCheckbox {
    transform: scale(1.5);
}

.darkModeLabel {
    display: block;
    margin-left: 10px;
}

.settingEnabledClasses {
    display: flex;
    justify-content: center;
}

.license {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.licenseText {
    max-width: 500px;
}

.darktheme .settingsView {
    background-color: #222;
    color: #fff;
}

a, a:visited {
    color: #000;
}

.darktheme a, .darktheme a:visited {
    color: #fff;
}