.substitution {
    display: flex;
    width: calc(100% - 40px);
    margin: 10px;
    min-height: 60px;
    max-height: 60px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.135);
    border-radius: 10px;
    flex-direction: column;
    transition: all .7s;
    align-self: flex-start;
}

/* always maximize entries when in desktop view */
@media screen and (min-width: 880px) {
    .substitution {
        transition: none;
        max-height: 1000px !important;
    }
    .substitutionDescription {
        min-height: 200px;
    }
}

@media screen and (min-width: 600px) {
    .substitution {
        max-width: 400px;
    }
}

.substitutionTitle {
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.substitutionDescription {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.detail {
    display: block;
    margin-bottom: 2px;
    margin-left: 5px;
}

.shareButtonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.shareButtonContainer.hide {
    display: none;
}

.darktheme .substitution {
    background-color: #111;
    color: #fff;
}