.substitutionsView {
    background-color: #fff;
    color: #000;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.innerSubstitutionsView {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}

.darktheme .substitutionsView {
    background-color: #222;
}