.tabbedSubstitutionView {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tabSelectors {
    display: flex;
    min-height: 52px; /* apple webkit bug workaround */
    background-color: #fff;
    color: #000;
}

.tabSelector {
    height: 50px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 1000px) {
    .tabSelector {
        max-width: 125px;
    }
}

.tabSelectorText {
    font-weight: bold;
}

.selectedTab {
    border-bottom: 2px solid #f00;
}

.darktheme .tabSelectors {
    background-color: #000;
    color: #fff;
}

.darktheme .selectedTab {
    border-bottom: 2px solid #fff;
}